@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  --background: #1a1a1a;
  --background-light: #3c3c3c;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-background-light: var(--background-light);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);

  --text-2xs: 0.625rem;
  --text-3xs: 0.5rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
.leaflet-control-attribution {
  background: var(--background) !important;
  color: var(--foreground) !important;
}
.leaflet-control-attribution a {
  color: #fff !important;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: var(--background) !important;
  color: var(--foreground) !important;
}